/*css reset*/

/*google fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;

/*end of CSS reset*/


body{
    background-color: rgb(52, 93, 145);
    color:rgb(44, 48, 47)
    margin 10px 15%;
}

nav{
    height: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    
}

nav ul {
    display: flex; 
    justify-content: space-around;
    font-variant-caps: all-petite-caps;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4rem;
}  

h2 {
text-align: center;
color: rgb(182,35,34);
font-family: 'Merriweather', serif;
font-size: 2.5rem;
}

h3 {
    text-align: center;
color: rgb(182,35,34);
font-family: 'Merriweather', serif;
font-size: 1.5rem;
padding: 50px;
}


a:visited { 
    
    color: rgb(255, 255, 255); 
   }

a:hover {
    color:rgb(0, 0, 0)
}

img {
    height: 400px;
    vertical-align: middle;
    float: left;
    padding: 70px;
    
}

h3 {
    
color: rgb(255, 255, 255);
font-family: 'Merriweather', serif;
font-size: 2rem;
padding: 150px;
}

.right {
    height: 500px;
    vertical-align: middle;
    float: right;
   
}

p {
    text-align: center;
    color: rgb(182,35,34);
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

.video {
    text-align: center;
  
}

footer {
    color: rgb(255, 255, 255);
}



